{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenido</span></h1>
            </div>
            <div class="row">
                <div class="panel-group">
                    {% for item in lanzamientos %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel with panel-default class</div>
                            <div class="panel-body">Panel Content</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
